body{
 background-color:rgb(255, 254, 211);
 font-family: monospace;
}

.kalkulator{
 text-align:center;
 max-width: 330px;
 padding-bottom: 400px;
 margin-bottom: -400px;
 background: rgb(232, 176, 94);
 margin: 100px auto;
 padding: 10px 20px 50px 20px;
 border-radius: 30px;
 box-shadow: 0px 10px 20px 15px #D1D1D1;
}

.judul{
 text-align: center;
 font-size: 15pt;
 color: black;
}

.bil{
 width: 260px;
 margin: 5px;
 border: none;
 font-size: 12pt;
 border-radius: 5px;
 padding: 10px; 
}

.opt{
 width: 230px;
 margin: 5px;
 border: none;
 font-size: 12pt;
 border-radius: 5px;
 padding: 10px;
}

.tombol{
 background: orange;
 border-top: none;
 border-right: none;
 border-left: none;
 border-radius: 5px;
 padding: 10px 15px;
 color: black;
 font-size: 12pt;
}

.created{
 font-size: 11pt;
 float: right;
 text-decoration: none;
 margin: 12px;
 color: black;
}